


img{
  width: 500px;
  height: 100px;
  margin-left: 50%;

  align-items: center;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  width: 100%;
}

nav {
  background:#9cb0c3;
  height: 350px;
  width: 100%;

  background: url('../public/شعار_أكاديمية_طويق-removebg-preview\ copy.png');
  background-repeat: no-repeat;
  background-position:bottom;
  background-size:80%; 
}

label.logo {
  color:#9cb0c3;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 500;
  line-height: 80px;
  padding: 0 50px;
 
} 

nav ul {
  gap: 30px;
  float: right;
  margin-right: 20px;  
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color:#9cb0c3;
  font-size: 17px;
  padding: 10px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover {
  background: rgb(55, 190, 249);
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

section {
    min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}

quote {
  background: #d6d4d8;
  color: white;
  padding: 100px 50px;
  text-align: center;

width:50vh;
margin-right: 1%;

  border-radius: 20px;
  box-shadow: 10px 16px 42px -23px rgba(0,0,0,0.44);
}

h1 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  margin-bottom: 1rem;
}

p {
  font-size: clamp(0.7rem, 2.5vw, 1rem);
}

@media screen and (max-width: 950px) {
  
  label.logo {
    padding-left: 40px;
  }
  
  nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  
  .checkbtn {
    display: block;
  }
  
  ul {
    position: fixed;
    width: 100%; 
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }
  
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  
  nav ul li a {
    font-size: 20px;
  }
  
  a:hover, a.active {
    background: none;
    color: #0082e6;
  }
  
  #check:checked ~ ul {
    left: 0;
  }
}

footer{
  background:#2e4674;
  height: 190px;
  width: 100%;
  text-align: center;
 
}
